/ejercicios-basicos/07-int-ascii/nbproject/private/
/ejercicios-basicos/07-int-ascii/build/
/ejercicios-basicos/08-char-ascii/nbproject/private/
/ejercicios-basicos/08-char-ascii/build/
/ejercicios-basicos/12-numeros-1a100-divisibles-entrre3/nbproject/private/
/ejercicios-basicos/12-numeros-1a100-divisibles-entrre3/build/