/ejercicios-basicos/07-int-ascii/nbproject/private/
/ejercicios-basicos/07-int-ascii/build/
/ejercicios-basicos/08-char-ascii/nbproject/private/
/ejercicios-basicos/08-char-ascii/build/
/ejercicios-basicos/12-numeros-1a100-divisibles-entrre3/nbproject/private/
/ejercicios-basicos/12-numeros-1a100-divisibles-entrre3/build/
/ejercicios-basicos/13-pedir-tamanoarray-pedirvaloresposiciones/nbproject/private/
/ejercicios-basicos/13-pedir-tamanoarray-pedirvaloresposiciones/build/
/ejercicios-basicos/15-pedir-int-dowhile/nbproject/private/
/ejercicios-basicos/15-pedir-int-dowhile/build/
/ejercicios-basicos/16-pedircontrasena-3intentos/nbproject/private/
/ejercicios-basicos/16-pedircontrasena-3intentos/build/
/ejercicios-basicos/18-pedir2int-generaraleatorioenmedio/nbproject/private/
/ejercicios-basicos/18-pedir2int-generaraleatorioenmedio/build/
/ejercicios-basicos/20-primo-noprimo-usandoraizcuadrada/nbproject/private/
/ejercicios-basicos/20-primo-noprimo-usandoraizcuadrada/build/
/ejercicios-basicos/24-string-a-ascii/nbproject/private/
/ejercicios-basicos/24-string-a-ascii/build/
/ejercicios-basicos/25-calculadora-polaca-inversa/nbproject/private/
/ejercicios-basicos/25-calculadora-polaca-inversa/build/
/ejercicios-basicos/26-pedir-int-sumar-desde1hastaint/nbproject/private/
/ejercicios-basicos/26-pedir-int-sumar-desde1hastaint/build/